body {
    font-family: Arial,  sans-serif;
    width: 45%;
    margin: auto;
    padding: 200px 0 0 0;
}

canvas {
    margin: 0 5px 0 10px;
    border: 3px solid black;
    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
